@layer utilities {
    /* Estilos cuando el navegador autocompleta */
    .input-autofill:-webkit-autofill {
      background-color: black !important;
      color: white !important;
      -webkit-box-shadow: 0 0 0 1000px black inset !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }